html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	color: whitesmoke;
}


.one > .caption {
	width: 100%;
	text-align: center;
	position: absolute;
	top: 50%;
}

.caption-text {
	font-family: 'Carattere', cursive;
	padding: 15px;
	width: max-content;
	margin: auto;
	background-color: rgb(50, 50, 50);
}

.caption-text > span {
	display: block;
	padding: 5px;
}
.caption-text > span:first-child {
	font-size: 60px;
}
.caption-text > span:last-child {
	font-size: 40px;
}

#header {
	text-align: center;
	font-family: 'Carattere', cursive;
	font-size: 40px;
}

.content {
	font-family: 'Roboto Slab', serif;
	background-color: rgb(50, 50, 50);
	padding: 40px;
}

.parallax {	
	height: 100%;

	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

footer {
	padding: 20px;
	text-align: center;
	background-color: rgb(50, 50, 50);
}

.parallax.one {
	background-image: url("img/kochanowski1.webp")
}
.parallax.two {
	background-image: url("img/kochanowski2.png")
}
.parallax.three {
	background-image: url("img/kochanowski3.png")
}
.parallax.four {
	background-image: url("img/kochanowski4.png")
}
.parallax.five {
	background-image: url("img/kochanowski5.png")
}
.parallax.six {
	background-image: url("img/kochanowski6.png")
}